<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<style>
    .sidebar-link {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
    }

    .sidebar-link.active {
        background-color: #007bff;
        color: white;
    }

    .sidebarhead {
        margin-bottom: 2rem;
    }
</style>

<body>
    <div class="sidebar">
        <h2 class="sidebarhead">Admin Panel</h2>
        <a href="/" class="sidebar-link">Employee Master</a>
        <a href="/assets" class="sidebar-link">Asset Master</a>
        <a href="/categories" class="sidebar-link">Asset Category Master</a>
        <a href="/stock" class="sidebar-link">Asset Stock View</a>
        <a href="/issue" class="sidebar-link">Issue Asset Management</a>
        <a href="/return" class="sidebar-link">Return Asset Management</a>
        <a href="/scrap" class="sidebar-link">Scrap Asset Management</a>
        <a href="/history" class="sidebar-link">Asset History</a>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentPath = window.location.pathname;
        const sidebarLinks = document.querySelectorAll('.sidebar-link');

        sidebarLinks.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });
    });

</script>

</html>